<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WYSP - Homepage</title>
    <link rel="icon" href="/static/logo.png" type="image/png">
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            gap: 20px;
            width: 99vw;
            height: 90vh;
        }

        .img-container {
            padding: 0;
            margin: 0;
        }

        .btn {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="img-container">
            <img src="/static/logo.png" alt="">
        </div>
        <h1 style="user-select: none;">Your creativity starts here</h1>
        <a href="/register"><button class="btn">Register</button></a>
        <a href="/login"><button class="btn">Login</button></a>
    </div>
</body>
</html>
