<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WYSP - Homepage</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            gap: 20px;
            width: 100vw;
            height: 90vh;
        }

        .btn {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>WYSP</h2>
        <h2 style="user-select: none;">Your creativity starts here</h2>
        <a href="/register"><button class="btn">Register</button></a>
        <a href="/login"><button class="btn">Login</button></a>
    </div>
</body>
</html>
